<!DOCTYPE html>
<html>
<head>
    <title>List of Movies</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h1 class="mt-5 mb-4">List of Movies</h1>
        
        {# Search form #}
        <form action="{{ path('movie_search') }}" method="GET" class="mb-3">
            <div class="input-group">
                <input type="text" name="query" class="form-control" placeholder="Search movies">
                <div class="input-group-append">
                    <button type="submit" class="btn btn-primary">Search</button>
                </div>
            </div>
        </form>
        
        <ul class="list-group">
            {% for movie in movies %}
                <li class="list-group-item">
                    <strong>Title:</strong> {{ movie.getTitle() }}<br>
                    
                    <a href="{{ path('movie_detail', {'id': movie.getId()}) }}">View Details</a>
                </li>
            {% endfor %}
        </ul>
    </div>
</body>
</html>
